<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamecockmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gamecockmobile.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/HomeActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gamecockmobile.CourseListActivity"
            android:label="@string/title_activity_course_list"
            android:parentActivityName="com.gamecockmobile.MainActivity"
            android:theme="@style/CourseListActionBarTheme" >
        </activity>
        <activity
            android:name="com.gamecockmobile.AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:theme="@style/AddCourseActionBarTheme" >
        </activity>
        <activity
            android:name="com.gamecockmobile.AddDayAndTimeActivity"
            android:label="@string/title_activity_add_day_and_time"
            android:theme="@style/AddCourseActionBarTheme" >
        </activity>
        <activity
            android:name="com.gamecockmobile.buses.BusesFragment"
            android:label="@string/title_activity_buses_fragment" >
        </activity>
        <activity
            android:name="com.gamecockmobile.events.AddEventActivity"
            android:label="@string/title_activity_add_event" >
        </activity>
    </application>

</manifest>